{% extends 'layout.html.twig' %}

{% block Title %} S'enregistrer {% endblock %}
{% block content %}
<body class="row">
    <div class="m-2">
        <h1>Inscription</h1>
            <form method="post">
                <div>
                    <label for="firstname" class="form-label mt-4">Prénom : </label>
                    <input type="text" value="{{ user.firstname }}" name="firstname" class="form-control">
                </div>
                <div>
                    <label for="lastname" class="form-label mt-4">Nom : </label>
                    <input type="text" value="{{ user.lastname }}" name="lastname" class="form-control">
                </div>
                <div>
                    <label for="email" class="form-label mt-4">Courriel : </label>
                    <input type="email" value="{{ user.email }}" name="email" class="form-control">
                </div>
                <div>
                    <label for="phone" class="form-label mt-4">Télephone : </label>
                    <input type="text" value="{{ user.phone }}" name="phone" class="form-control">
                </div>
                <div>
                    <label for="adress" class="form-label mt-4">Adress : </label>
                    <input type="text" value="{{ user.adress }}" name="adress" class="form-control">
                </div>
                <div>
                    <label for="password" class="form-label mt-4">Mot de passe : </label>
                    <input type="password" value="{{ user.password }}" name="password" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary mt-3 mb-3" value="Enregistrer">
            </form>
    </div>
</body>
{% endblock %}
